<h2 class='text-center'>User <%= @user.username %> has validated the following reports:</h2>
<% @user.reports.each do |report| %>
  <div class='col-xs-3 entry'>
    <%= link_to report.name, report_path(report) %>
  </div>
<% end %>
