<div class='row'>
  <div class='col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4'>
    <%= button_to 'Create Report', new_report_path, method: :get, class: 'main btn btn-lg btn-success' %>
  </div>
</div>

<section>
<h2>About Us:</h2>
  <p>In the aftermanth of the deaths of Michael Brown in Ferguson and Eric Garner in Staten Island the public found itself without the data necessary to put the incidents into a proper context. Understandably the states are not eager to broadcast how many people they kill in the name of law enforcement. However, the government cannot truly be accountable to the people unless the people are properly informed. We must understand the offenses committed against us in order to exercise our right to “petition the Government for a redress of grievances,” as enshrined by the First Amendment of our Constitution.</p>

  <p>The Federal government has released some statistics on the subject, but they are generally lacking. The FBI Supplementary Homicide Report focuses on what they consider to be “justifiable” homicide and so excludes many cases. The Bureau of Justice Statistics releases data on arrested-related deaths, including unjustified homicides. However, cooperation with the BJS study is voluntary and many departments, as well as a few states, have opted-out. Additionally the BJS has not released any data pasted 2009. The report from the CDC shows similar methodological problems.</p>

  <p>If the State has an incentive to keep the public uninformed, then perhaps we should not rely on their numbers. The Pikemen Project seeks to create a listing of police homicides, independent of any government agency. This can only be done with your help. If you know of a case of police homicde, please create a report.</p>

  <p>We do not seek to pass judgement on individual case, nor the system as a whole. We do not mean to imply that all law enforcement officers are brutes, nor that all who died deserved their fate. We merely seek to give the citizenry the best data so that it can make the best decisions.</p>

<h2>About the name:</h2>
  <p>‘The man on horseback’ is a phrase used to describe a powerful figure who has the capacity to take over the system they are supposed to be protecting. It is most often used in description of military leader. In these times of militarized police we must take care our law enforcement does not become a cavalry ruling over peasants, deriving power from a cruiser rather than a stallion. Fortunately, there is a counter to a cavalry charge, the Pike Square. If they stood together, the weaker soldiers could hold off the mighty horsemen. We can stand together and be the pikemen.<p>
<h2>Who Watches the Watchmen?</h2>
<%= image_tag("wtp.jpg", alt: 'We the people') %>
</section>
