<div class='row'>
  <div class='col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4'>
    <%= button_to 'Create Report', new_report_path, method: :get, class: 'main btn btn-lg btn-success' %>
  </div>
</div>

<section>
<h2>About:</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper tincidunt eleifend. Suspendisse potenti. Nulla feugiat erat dolor, at eleifend elit ornare sit amet. Vestibulum quis mauris nec lacus lobortis fringilla. In pellentesque nec diam vitae faucibus. Sed fringilla neque eget nulla faucibus, eget tempor metus aliquet. Mauris sit amet magna justo. Nulla facilisi. Maecenas quis cursus urna. Proin fringilla sapien quis mauris commodo, ac aliquet tortor efficitur. Proin pharetra urna orci, in pellentesque orci pellentesque vitae. Proin nunc nibh, sodales vitae sagittis eu, aliquam convallis nisi.<br>

Maecenas varius lorem ac augue varius, eget tincidunt eros tincidunt. Sed auctor ipsum quam, eget pellentesque nunc fermentum nec. Nullam tempor pretium dolor, nec rhoncus dolor. Nulla auctor eget justo a convallis. Cras sed dignissim orci, eget accumsan urna. Sed elit magna, egestas sed luctus vel, ullamcorper id felis. Proin ultrices dictum dignissim. Nam mollis nisi a quam aliquet, vitae maximus sem iaculis. Aenean ut lacus magna. Nunc blandit dapibus felis, ut accumsan sem pharetra a. Suspendisse ac elementum ipsum. Integer semper nibh ligula, non viverra ligula eleifend quis. Morbi volutpat erat sed urna pellentesque, vitae consectetur sem lacinia. Fusce tincidunt leo erat, at tincidunt magna auctor non. Integer sollicitudin efficitur velit ut congue. Maecenas pellentesque gravida porttitor.<br>

Aliquam imperdiet nunc sed quam rhoncus laoreet. Phasellus sit amet aliquet erat. Vestibulum finibus massa a nisi elementum, nec aliquet neque gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Vestibulum fermentum lacus sed ornare molestie. Sed porta feugiat nunc non blandit.
</section>
<%= image_tag("wtp.jpg", alt: 'We the people') %>
