/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.main {
  height: 100px;
  width: 100%;
  font-size: 38px;
}
img {
  width:35%;
}
#report_name {
  width:100%;
  height:60px;
  font-size:38px;
  text-align: center;
}
#report_city {
  width: 50%;
}
.item, .filter, .entry {
  margin-bottom: 20px;
}
 .top, .entry {
  font-size: 20px;
 }
.entry > a {
  text-decoration: none;
  color: black;
}
.veri {
  width: 120%;
}
.panel-group .panel {
  border: none;
}
.panel-group .panel-heading, .panel-body {
  background-color: #c7c7c7;
}
.panel-group .panel-heading {
  border-radius: 10px 10px 0 0;
}
.panel-group .panel-body {
  font-size: 12px;
}
