<h1>Unvalidated Reports</h1>
<% @reports.each do |report| %>
  <p><%= report.name %></p>
  <%= link_to 'Verify', edit_report_path(report) %>
  <%= link_to 'Archive', report, method: :delete %>
<% end %>
