<h1>Unvalidated Reports</h1>
<% @reports.each do |report| %>
  <div class='panel row'>
    <div class='col-xs-2'>
      <%= report.name %>
    </div>
    <div class='col-xs-1'>
        <%= link_to 'Verify', edit_report_path(report), class: 'btn btn-success veri' %>
    </div>
    <div class='col-xs-1'>
      <%= link_to 'Archive', report, method: :delete, class: 'btn btn-warning veri' %>
    </div>
  </div>
<% end %>
